<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="title">
    <span class="pagetitle">{{ pagetitle }}</span>
    <span class="newlink"> | <a routerLink="{{ createlink }}">{{ createlinkname }}</a></span>
  </div>
  <div class="content">
    <table class="table table-sm" *ngIf="users">
      <tr>
          <th>Name</th>
          <th>User name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Department</th>
          <th>Active</th>
          <th>Action</th>
      </tr>
      <tr *ngFor="let user of users | sort:'Lastname'">
        <td>{{ user.Firstname + " " + user.Lastname }}</td>
        <td>{{ user.Username }}</td>
        <td>{{ user.Phone }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.Department == null ? "Unassigned" : user.Department.Name }}
        <td>{{ user.Active ? "Yes" : "No" }}</td>
        <td>
          <span><a routerLink="/users/detail/{{  user.Id }}">Detail</a></span>
          <span> | <a routerLink="/users/edit/{{ user.Id }}">Edit</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>