  <div class="title">
    <span class="pagetitle">{{ pagetitle }}</span>
  </div>
  <div class="content">
    <div class="container" *ngIf="asset">

      <div class="input-group input-group-sm mb-3">

        <div class="input-group-prepend">
          <label class="input-group-text" for="Name">Name</label>
        </div>
        <input [(ngModel)]="asset.Name" name="Name" type="text" class="form-control" id="Name">

        <div class="input-group-prepend">
          <label class="input-group-text" for="Description">Description</label>
        </div>
        <input [(ngModel)]="asset.Description" name="Description" type="text" class="form-control" id="Description">

      </div>

      <div class="input-group input-group-sm mb-3">
        
        <div class="input-group-prepend">
          <label class="input-group-text" for="Address">Address</label>
        </div>
        <select [(ngModel)]="asset.AddressId" name="Address" type="text" class="form-control" id="Address">
          <option *ngFor="let addr of addresses" [ngValue]="addr.Id">{{ addr.Name }}</option>
        </select>

        <div class="input-group-prepend">
          <label class="input-group-text" for="PONumber">PONumber</label>
        </div>
        <input [(ngModel)]="asset.PONumber" name="PONumber" type="text" class="form-control" id="PONumber">

      </div>

      <div class="input-group input-group-sm mb-3">

        <div class="input-group-prepend">
          <label class="input-group-text" for="Cost">Cost</label>
        </div>
        <input [(ngModel)]="asset.Cost" name="Cost" type="number" class="form-control" id="Cost">

        <div class="input-group-prepend">
          <label class="input-group-text" for="ResidualValue">ResidualValue</label>
        </div>
        <input [(ngModel)]="asset.ResidualValue" name="ResidualValue" type="number" class="form-control" id="ResidualValue">

      </div>

      <div class="input-group input-group-sm mb-3">

        <div class="input-group-prepend">
          <label class="input-group-text" for="OutForRepair">OutForRepair</label>
        </div>
        <input [(ngModel)]="asset.OutForRepairDate" name="OutForRepair" type="text" class="form-control" id="OutForRepair">

        <div class="input-group-prepend">
          <label class="input-group-text" for="RetiredDate">RetiredDate</label>
        </div>
        <input [(ngModel)]="asset.RetiredDate" name="RetiredDate" type="text" class="form-control" id="RetiredDate">
      </div>

      <div class="input-group input-group-sm mb-3">

        <div class="input-group-prepend">
          <label class="input-group-text" for="SurplusDate">SurplusDate</label>
        </div>
        <input [(ngModel)]="asset.SurplusDate" name="SurplusDate" type="text" class="form-control" id="SurplusDate">

        <div class="input-group-prepend">
          <label class="input-group-text" for="ReturnFromRepair">ReturnFromRepair</label>
        </div>
        <input [(ngModel)]="asset.ReturnFromRepairDate" name="ReturnFromRepair" type="text" class="form-control" id="ReturnFromRepair">
      </div>

    </div>
  </div>
