form {
    width: 50%;
    margin: 30px auto;
    border: 1px solid silver;
    padding: 20px 50px;
}
.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}
.message {
    color: red;
    font-weight: bold;
}
.row {
    margin: 1em 0;
}