<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="title">
    <span class="pagetitle">{{ pagetitle }}</span>
    <span class="newlink"> | <a routerLink="{{ createlink }}">{{ createlinkname }}</a></span>
    <div id="searchbar">
      <div class="input-group">
        <input [(ngModel)]="searchfor" class="form-control" type="text" placeholder="Search">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <table class="table table-sm" *ngIf="equipments">
      <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Year/Make Mfg/Model</th>
          <th>Serial Number</th>
          <th>Active</th>
          <th>Action</th>
      </tr>
      <tr *ngFor="let equip of equipments | search: searchfor | sort:'SerialNumber'">
        <td>{{ equip.Code }}</td>
        <td>{{ equip.Description }}</td>
        <td>{{ equip.Year }} {{ equip.Make }} {{ equip.Model }}</td>
        <td>{{ equip.SerialNumber }}</td>
        <td>{{ equip.Active ? "Yes" : "No" }}</td>
        <td>
          <span><a routerLink="/equipment/detail/{{  equip.Id }}">Detail</a></span>
          <span> | <a routerLink="/equipment/edit/{{ equip.Id }}">Edit</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>