<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="title">
    <span class="pagetitle">{{ pagetitle }}</span>
    <span class="newlink"> | <a routerLink="{{ createlink }}">{{ createlinkname }}</a></span>
    <div id="searchbar">
      <div class="input-group">
        <input [(ngModel)]="searchfor" class="form-control" type="text" placeholder="Search">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <table class="table table-sm" *ngIf="departments">
      <tr>
          <th><a (click)="sort('Code')">Code <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('Name')">Name <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('Active')">Active <i class="fas fa-sort"></i></a></th>
          <th>Action</th>
      </tr>
      <tr *ngFor="let dept of departments | search: searchfor |  sort:sortProperty:sortOrder">
        <td>{{ dept.Code }}</td>
        <td>{{ dept.Name }}</td>
        <td>{{ dept.Active ? "Yes" : "No" }}</td>
        <td>
          <span><a routerLink="/departments/detail/{{  dept.Id }}">Detail</a></span>
          <span> | <a routerLink="/departments/edit/{{ dept.Id }}">Edit</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>