<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="title">
    <span class="pagetitle">{{ pagetitle }}</span>
    <span class="newlink"> | <a routerLink="{{ createlink }}">{{ createlinkname }}</a></span>
    <div id="searchbar">
      <div class="input-group">
        <input [(ngModel)]="searchfor" class="form-control" type="text" placeholder="Search">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <table class="table table-sm" *ngIf="vehicles">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Year/Make/Model</th>
          <th>License Plate</th>
          <th>VIN</th>
          <th>Active</th>
          <th>Action</th>
      </tr>
      <tr *ngFor="let vehicle of vehicles | search: searchfor | sort:'LicensePlate'">
        <td>{{ vehicle.Code }}</td>
        <td>{{ vehicle.Asset.Name }}</td>
        <td>{{ vehicle.Year }} {{ vehicle.Make }} {{ vehicle.Model }}</td>
        <td>{{ vehicle.LicensePlate }}</td>
        <td>{{ vehicle.VIN }}</td>
        <td>{{ vehicle.Active ? "Yes" : "No" }}</td>
        <td>
          <span><a routerLink="/vehicles/detail/{{  vehicle.Id }}">Detail</a></span>
          <span> | <a routerLink="/vehicles/edit/{{ vehicle.Id }}">Edit</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>