<div class="component">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="title">
    <span class="pagetitle">{{ pagetitle }}</span>
    <span class="newlink"> | <a routerLink="{{ createlink }}">{{ createlinkname }}</a></span>
    <div id="searchbar">
      <div class="input-group">
        <input [(ngModel)]="searchfor" class="form-control" type="text" placeholder="Search">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <table class="table table-sm" *ngIf="properties">
      <tr>
          <th><a (click)="sort('Code')">Code <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('Description')">Description <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('Address1')">Address <i class="fas fa-sort"></i></a></th>
          <th><a (click)="sort('Active')">Active <i class="fas fa-sort"></i></a></th>
          <th>Action</th>
      </tr>
      <tr *ngFor="let property of properties | search: searchfor |  sort:sortProperty:sortOrder">
        <td>{{ property.Code }}</td>
        <td>{{ property.Description }}</td>
        <td>
          {{ property.Address1 }}
          <span *ngIf="property.Address2">, {{ property.Address2 }}</span>
          <span *ngIf="property.Address3">, {{ property.Address3 }}</span>
        </td>
        <td>{{ property.Active ? "Yes" : "No" }}</td>
        <td>
          <span><a routerLink="/properties/detail/{{  property.Id }}">Detail</a></span>
          <span> | <a routerLink="/properties/edit/{{ property.Id }}">Edit</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>